Full-Chatbot-Pipeline.json
{
  "name": "Full-Chatbot-Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ff1a6e60-8f40-4095-ba49-f026b073a208",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        -144
      ],
      "id": "a10c5262-090a-4123-b415-a0c1a911ab4d",
      "name": "Webhook",
      "webhookId": "ff1a6e60-8f40-4095-ba49-f026b073a208"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data }}",
        "options": {
          "systemMessage": "You are a helYou are an assistant that analyzes user messages and decides actions.\n\nYour job:\n1. Identify if the user wants to:\n   - schedule an event\n   - send a reminder/notification\n   - or both\n\n2. Extract the following fields:\n- action: (schedule, notify, or both)\n- title: short event/reminder title\n- date: in YYYY-MM-DD format\n- time: in HH:MM (24-hour format)\n\nRules:\n- If the message includes words like \"schedule\", \"meeting\", \"appointment\" → action = schedule\n- If the message includes \"remind\", \"notify\", \"alert\" → action = notify\n- If both are present → action = both\n\nReturn ONLY valid JSON. No explanation.\n\nFormat:\n{\n  \"action\": \"...\",\n  \"title\": \"...\",\n  \"date\": \"...\",\n  \"time\": \"...\"\n}pful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -496,
        -144
      ],
      "id": "875a18f2-0de7-4a95-b0d7-dc6778e6318c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "soap",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1088,
        192
      ],
      "id": "2aa305bb-081a-4073-a66b-8c0799c6f1c0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -32,
        -192
      ],
      "id": "66b93e55-4723-489e-a585-f479b709ef91",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "Capabilites\n\nweb serach\ncalender access\ngmail access\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -544
      ],
      "typeVersion": 1,
      "id": "c19d9d0a-836b-4252-8ee5-578ac01732cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {
          "gl": "in",
          "hl": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1088,
        320
      ],
      "id": "151dd24f-4de0-4f1d-812e-fad6bb94fac7",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "sDmyTFgHX356cPKG",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "cb0deadfc3e4d9f943b8d5b947185ea82a637143f6367c18a6f9e49388b39686@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -928,
        480
      ],
      "id": "aec5f12e-ba13-4038-913b-5214594f05b4",
      "name": "Create calender event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JY2x4nN6uxD9Y90r",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "cb0deadfc3e4d9f943b8d5b947185ea82a637143f6367c18a6f9e49388b39686@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -832,
        304
      ],
      "id": "3f039cf5-d8f2-4407-b93b-7861f811a73a",
      "name": "get_calender_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JY2x4nN6uxD9Y90r",
          "name": "Google Calendar account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "cb0deadfc3e4d9f943b8d5b947185ea82a637143f6367c18a6f9e49388b39686@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Primary"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -784,
        496
      ],
      "id": "33e2733b-b6d7-49a8-906c-ffd219d4b1a8",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JY2x4nN6uxD9Y90r",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        -1088,
        -128
      ],
      "id": "fa420f4d-7712-4089-996e-232b08fe5ca0",
      "name": "xAI Grok Chat Model",
      "credentials": {
        "xAiApi": {
          "id": "7DOTdKEcUtI4Vb7s",
          "name": "xAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1088,
        48
      ],
      "id": "7aa2a3b2-ff41-4888-8e1a-9540f3a1c131",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "HKgTw9wjNMLPmRih",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -576,
        400
      ],
      "id": "5da8a013-60cb-498e-9c8b-acc245a412ad",
      "name": "Get_single_message",
      "webhookId": "e98ef01d-e488-4f49-93c4-c85a1ae880ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "dxE6HS6qOzZre2Wr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -464,
        288
      ],
      "id": "5c9bbfe6-5d00-4a15-871d-d62f58b0c10c",
      "name": "Get_messages_gmail",
      "webhookId": "e98ef01d-e488-4f49-93c4-c85a1ae880ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "dxE6HS6qOzZre2Wr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -352,
        416
      ],
      "id": "f28e5153-8048-4e85-b8aa-e24399ec2d8e",
      "name": "Get_single_message1",
      "webhookId": "e98ef01d-e488-4f49-93c4-c85a1ae880ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "dxE6HS6qOzZre2Wr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -208,
        208
      ],
      "id": "fba2bc23-cae0-40de-bb46-986801e3e0aa",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xC6mqYM0SKtaOzmF0xoh4-4P3HHMOBZB6fsTODaG65g",
          "mode": "list",
          "cachedResultName": "finance-tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xC6mqYM0SKtaOzmF0xoh4-4P3HHMOBZB6fsTODaG65g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xC6mqYM0SKtaOzmF0xoh4-4P3HHMOBZB6fsTODaG65g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID_', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "expense_category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('expense_category', ``, 'string') }}",
            "expense": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('expense', ``, 'string') }}",
            "remarks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remarks', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID ",
              "displayName": "ID ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expense_category",
              "displayName": "expense_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expense",
              "displayName": "expense",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remarks",
              "displayName": "remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -96,
        272
      ],
      "id": "32e088a8-4165-4fd4-ac37-0eaf10172fcb",
      "name": "add_expense",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BkjChLHvjy4atY8L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xC6mqYM0SKtaOzmF0xoh4-4P3HHMOBZB6fsTODaG65g",
          "mode": "list",
          "cachedResultName": "finance-tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xC6mqYM0SKtaOzmF0xoh4-4P3HHMOBZB6fsTODaG65g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xC6mqYM0SKtaOzmF0xoh4-4P3HHMOBZB6fsTODaG65g/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -16,
        176
      ],
      "id": "3fc4b203-fc29-4121-a219-12ae1d48afd9",
      "name": "Get_expenses",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BkjChLHvjy4atY8L",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        224,
        496
      ],
      "id": "6e7eaca1-19a4-4c6f-afe5-b6b4af41e380",
      "name": "Creates_notes",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bq6CNHPhOFuxtAri",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        400,
        480
      ],
      "id": "17972f4b-96aa-43f1-98fe-1ee6ae7e9c0a",
      "name": "Retrival_notes1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bq6CNHPhOFuxtAri",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        304,
        384
      ],
      "id": "7a6d338e-f6fd-4f15-a9e5-bbf843c5c131",
      "name": "update_notes",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "bq6CNHPhOFuxtAri",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "task": "MDgyNDk3NDAzNTA4OTc3NTg5MTQ6MDow",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        480,
        80
      ],
      "id": "6d80d86c-9a21-4c7b-bcc6-e81df30913ae",
      "name": "Create task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "DFDCbH7qotLcCGf7",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "MDgyNDk3NDAzNTA4OTc3NTg5MTQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "7dc6afd0-8118-4826-9680-7dc1491ad8aa",
      "name": "Delete task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "DFDCbH7qotLcCGf7",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "task": "MDgyNDk3NDAzNTA4OTc3NTg5MTQ6MDow",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "277f5310-50a8-450d-8687-74a21370aaa7",
      "name": "Get tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "DFDCbH7qotLcCGf7",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MDgyNDk3NDAzNTA4OTc3NTg5MTQ6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        848,
        112
      ],
      "id": "77b58632-1f59-4607-84e6-cff84ac19cfa",
      "name": "get all tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "DFDCbH7qotLcCGf7",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+923326500098",
        "toWhatsapp": true,
        "message": "=🔔 *New Event Created*\n\n📌 *Title:* {{ $node[\"AI Agent\"].json[\"output\"].split('named ')[1]?.split(' for')[0] || \"Calendar Event\" }}\n📅 *Date/Time:* {{ $node[\"AI Agent\"].json[\"output\"].split('for ')[1] || \"Scheduled\" }}\n\n🤖 *Status:* {{ $node[\"AI Agent\"].json[\"output\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        80,
        -432
      ],
      "id": "e0f77fbc-cc93-467a-8c95-4c4fb10a8e5e",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "LElygIBUdYOC7OLE",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create calender event1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_calender_event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get_single_message": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_messages_gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_single_message1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_expense": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_expenses": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Creates_notes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_notes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retrival_notes1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get all tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f931d5c6-3f00-41ed-9171-e4f3dac9ec51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "658861442912e945070ecbb1a497b8b764e04aec1f26e6c486329551422183ce"
  },
  "id": "t6RP8jNN22K9Fm48",
  "tags": []
}